* {
padding: 0;
margin: 0;
text-decoration:none;
list-style-type:none;
}
body {
background: #000;
font-size:arial;
}
p{
color: rgb(247, 11, 11);
font-weight: bold;
font-size: 133.4%;
position: relative;
}
input[type="text"], select{
border: 8px solid rgb(32, 102, 228);
border-radius: 7px;
}
#contenedorgeneral{
width: 100%;
height: 100%;
/*position: relative;*/
position: fixed;
background: url(img/backgr.jpg) no-repeat;
min-height: 480px;
min-width: 318px;
background-size: 100% 100%;
}
.header{
position: relative;
top: 8px;
margin: auto;
margin-left: 1%;
float: left;
width: 100%;
}
.header img{
width: 100%;
}
#fondoPrincipal{
position:absolute;
}
#fondo{
width:100%;
height:100%;
}
#fondobottom{
width:100%;
position:absolute;
}
#pagInicio ,#pagInfoSemanal{
position: relative;
width: 100%;
float: left;
margin-bottom: 18%;
}
.menuPrincipal{
width: 97%;
position: relative;
}
.menuPrincipal li, .menuPrincipal img{
width: 100%;
}
#pagInfoSemanal{
display:none;
}
#divCiclo{
background: rgba(255, 255, 255, 0.72);
width: 100%;
min-height: 106px;
}
#cicloEm{
width: 20%;
height: 42%;
min-height: 46px;
border: 8px solid rgb(32, 102, 228);
border-radius: 7px;
margin-top: 18px;
margin-left: 5px;
font-size: 30px;
float: left;
}
#divCiclo p{
color: #90A83D;
font-weight: bold;
font-size: 130%;
float: left;
width: 44%;
margin-left: 21px;
margin-top: 10px;
}
#nacido{
background: rgba(255, 255, 255, 0.72);
position: relative;
width: 100%;
height: auto;
margin-top: 2%;
float: left;

}
#nacido p{
color:#0080B9;
font-size: 134%;
float: left;
text-align: center;
margin-top: 15px;

}
#nacido input[type="text"]{
width: 55%;
height: 35%;
/*min-height: 34px;*/
float: left;
border-color: rgb(255, 0, 0);
}
#nombrep{
width: 56%;
/*min-height: 26px;*/
float: left;
}
#sexop{
width: 44%;
height: 35%;
/*min-height: 26px;*/
float: left;
}
#sexo{
width: 38%;
height: 35%;
/*min-height: 49px;*/
float: left;
margin-left: 1%;
margin-bottom: 1%;
border-color: rgb(255, 0, 0);
}
#dia,#mes,#anno,#diap,#mesp,#annop{
width: 32%;
}
#dia,#mes,#anno{
/*min-height: 52px;*/
height: 70%;
border: 8px solid #90A83D;
}
#enviar,#facebook,.volver{
margin-left:3%;
margin-top: 23px;
}
#enviar{
background: url(img/btnenviar.png);
width: 30%;
height: 49%;
min-height: 51px;
background-size: 100%;
border: none;
background-repeat: no-repeat;
}
#facebook{
background: url(img/btnfacebook.png);
width: 30%;
height: 49%;
min-height: 51px;
background-size: 100%;
border: none;
background-repeat: no-repeat;
}
.volver{
background: url(img/btnfacebook.png);
width: 30%;
height: 49%;
min-height: 51px;
background-size: 100%;
border: none;
background-repeat: no-repeat;
}
#contenidoTemaSemana{
border: 8px solid rgb(32, 102, 228);
border-radius: 7px;
width: 93%;
margin-left: 3.1%;
max-height: 389px;
height: 100%;
background: rgba(255, 249, 249, 0.78);
overflow: hidden;
overflow-y: scroll;
color: #000;
font-size: 1.3em;
font-family: arial;
}
#comentar,#incluir{
margin-left:3%;
margin-top: 23px;
}
#comentar{
background: url(img/btncomentarl.png);
width: 30%;
height: 49%;
min-height: 51px;
background-size: 100%;
border: none;
background-repeat: no-repeat;
float:left;
}
#incluir{
background: url(img/btncomentarl.png);
width: 30%;
height: 49%;
min-height: 51px;
background-size: 100%;
border: none;
background-repeat: no-repeat;
float:left;
}
#comentario{
float: left;
margin-top: 29px;
margin-left: 3%;
width: 93%;
height: 29%;
max-height: 40px;
border:8px solid #90A83D!important;
}
#TemasSemanales #encabeza{
margin-left: 3%;
font-family: Arial;
color: #fff;
margin-top: 15px;
float: left;
}
#eventoEmba, #TemasSemanales, #TemasEmbarazo, #Descuentos, #juegos{
display:none;
}
#listaAcTemasEmba{
border: 8px solid rgb(228, 32, 204);
border-radius: 7px;
float: left;
background: rgba(255, 255, 255, 0.79);
margin-left: 16%;
margin-top: 23px;
margin-right: 12%;
width: 70%;
}
#listaAcTemasEmba li, #listaAcTemasEmba img{
width: 99%;
}
#TemasEmbarazo .volver{
margin-left: 74%;
margin-right: 2%;
}
#Descuentos .volver{
margin-left: 84%;

}
#juegos .volver{
margin-left: 85%;
margin-right: 2%;
}
#listaDescuentos{
border: 8px solid rgb(255, 0, 0);
border-radius: 7px;
width: 93%;
margin-left: 3.1%;
height: 100%;
background: rgba(255, 249, 249, 0.78);
overflow: hidden;
overflow-y: scroll;
font-family: arial;
float: left;
margin-top: 11%;
}
#listaJuegos{
border: 8px solid rgb(255, 0, 0);
border-radius: 7px;
width: 93%;
margin-left: 3.1%;
min-height: 389px;
height: 100%;
background: rgba(255, 249, 249, 0.78);
overflow: hidden;
overflow-y: scroll;
font-family: arial;
float: left;
margin-top: 11%;
}
.botones{
position:relative;
width:100%;
}